@import "bootstrap-variable-override";
@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css?family=Archivo:300,400,700');

html, body {font-family: Archivo;}

.uppercase {text-transform: uppercase}
i {vertical-align: middle}

* {outline: 0;}

.btn:focus {outline: none!important; box-shadow: none}

.btn * {vertical-align: middle}
.btn i {margin-right: 5px;}
.btn-sm i {font-size: $font-size-sm*1.4}

.btn.rounded {border-radius: 20px!important}

//////////////////

.btn-account {color: $dark!important;}